h1{
  margin: 0px;
  background : #4c6d48;
  text-align:center;
}
img{
   width: 300px;
  border : 5px solid black;
  padding : 10px;
}
nav {
       background: lightgreen;
      width: 20em;
     }
nav ul{
  padding-left : 25px;
}
body{
  margin : 0 px;
}
 article {
            margin-left: 3rem;
          }
table {margin-left: 0.5em;
     border-collapse: collapse;}

tr {border-bottom: 1px solid blue;}

td.Ingredient {text-align: left;
              padding: .5em;}

td.Amount {text-align: right;
          padding: .5em;}
          